.card {
  width: 400px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 100%;
}
.card h2 {
  margin-bottom: 20px;
}
.card p {
  font-size: 16px;
  font-weight: normal;
  justify-content: start;
  text-align: start;
  line-height: 20px;
}
